<% @memories.each do |memory| %>
  <%= render memory %>
  <p>
    <%= link_to "Show this memory", memory if memory.title.present? %>
    <% if memory.photo.attached? %>
      <%= image_tag memory.photo.url %>
    <% else %>
      <p>No photo available</p>
    <% end %>
  </p>
<% end %>
